<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title></head>
<body>
<h1>Connexion</h1>
<form sec:authorize="isAnonymous()" method="post" th:action="@{/login}">
    <div><input name="username" placeholder="Utilisateur" type="text"/></div>
    <div><input name="password" placeholder="Mot de passe" type="password"/></div>
    <button type="submit">Se connecter</button>
    <div th:if="${param.error}">Identifiants invalides.</div>
    <div th:if="${param.logout}">Déconnecté.</div>
</form>
<form sec:authorize="isAuthenticated()"  method="post" th:action="@{/logout}">
    <button type="submit">Se déconnecter</button>
</form>
<p><a th:href="@{/}">Retour à l'accueil</a></p>
</body>
</html>
